body{
    margin: 0;
    padding: 0;
}
.faculty-main-api h2{
   text-align: center;
   background-color: #050024;
   color: rgb(236, 241, 255);
   position: absolute;
   position: fixed;
   top: 50px;
   right: 0;
   left: 0px;
   padding: 10px;
}
#open{
    position: fixed;
    top: 64px;
    left: 10px;
    z-index: 2;
    /* margin: 10px; */
    background-color:  #050024;
    color: rgb(191, 207, 255);
    /* padding: 7px; */
}
.prof-card{
    height: auto;
    width: 380px;
    /* width: 400px; */
    border: 2px solid rgb(224, 224, 224);
    /* border-bottom: 5px solid blue; */
    background-color: rgb(255, 255, 255);
    color: black;
    /* background-color: #72A0C1; */
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.box-2 span{
    color: rgb(162, 112, 37);
    /* background-color: black; */
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.prof-card:hover{
    box-shadow: 0px 0px 10px rgba(158, 200, 205, 0.836);
}
.faculties-back{
    background-color: rgb(229, 243, 252);
    display: flex; 
    margin-top: 70px;
}
.faculty-page{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    transition: 0.3s;
    padding: auto;
    background-color: transparent;
    justify-content: center;
    padding-top: 65px;
   margin-top: 50px;
}
.closebtn{
    width: 100%;
    display: flex;
    justify-content: right;
    font-size: 1.2em;
    color: rgb(191, 207, 255);
    cursor: pointer;
    transition: 0.3s;
}
.menu-box ul{
    list-style-type: none;
    z-index: 3;
    overflow: hidden;
    background-color:  #050024;
    transition: 0.3s;
    height: 100%;
    width: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
    position:fixed;
}
.menu-box ul li{
    font-size: 16px;
    text-align: left;
    /* transition: 0.5s; */

}
#cse,#ce,#ee,#ae,#che,#dms,#me,#mse,#phy{
    /* color: rgb(127, 255, 249); */
    color: rgb(233, 238, 251);
    text-decoration: none;
}
.dabba{
    font-size: 20px;
    padding: 10px;
    color: rgb(0, 255, 255);
    /* pointer-events: none; */
    cursor: pointer;
    text-decoration: none;
    /* transition: none; */
}
.dabba:hover{
    /* background-color: rgb(1, 40, 58); */
   /* color: rgb(0, 242, 255); */
   border-left: 3px solid rgb(0, 110, 255);
   /* border-radius: 2px; */
}
.box-1{
   background-color: transparent;
    display: flex;
    gap: 2px;
    border-radius: 10px;
    /* color: rgb(0, 0, 0); */
}
.box-2{
     text-align: justify;
     padding: 0px 10px;
     /* color: rgb(0, 0, 0); */
     /* background-color:#B9D9EB */
   /* border-top: 1px solid black; */
}
.prof-dp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
   background: transparent;
}
.prof-details{
    background-color: transparent;
    text-align: left;
    /* border: 2px solid blue; */
}
.prof-details h2{
    padding-left: 5px;
    /* border: 2px solid aqua; */
    background-color: transparent;
    text-align: left;
}
.prof-details p{
   margin: 7px;
}
.circle-prof{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    /* border: 1px solid rgb(171, 171, 171); */
    display: grid;
    place-content: center;
    overflow: hidden;
}
.circle-prof img{
    height: 103px;
    width: 103px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.random-prof{
    /* margin-top: 80px; */
    width: 100%;
    text-align: center;
    color: rgb(255, 0, 0);
    /* background-color: rgb(150, 188, 195); */
  }









