.profile-container100 {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgb(249, 249, 249);
}
.profile-container100:hover{

  box-shadow: 0px 0px 10px rgb(137, 224, 255);
}

.profile-section100 {
  margin-bottom: 20px;
}

.profile-section100 h2 {
  margin-bottom: 10px;
}

.info-item100 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.info-item100 span {
  margin-right: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}